.Duesl {
    background-color: rgb(164, 160, 160);
    height: 1000px;
    padding-left: 150px;
    padding-right: 150px;
}

.HDL {
    text-align: center;
}

.btndl {
    margin-left: 250px;
    margin-right: 250px;
}