.g-2UT {
    margin-left: 200px;
    margin-right: 200px;
}

.g-2UT_ {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.UT {
    background-color: rgb(182, 182, 182);
    height: 1000px;
}

.HUT {
    text-align: center;
}